<div class="main-title mb-10 flex flex-col px-10 items-center justify-center">
    <h1> Detalle del Dispositivo</h1>
</div>

<% if @device.present? %>
    <section class="flex flex-col m-20 px-10 border-2 border-gray-200 items-center justify-center rounded-lg">
        <div class="mb-10 w-full">
            <div class="mt-10">
                <strong> ID: </strong>
                <%= @device.id %>
            </div>

            <div class="mt-10">
                <strong> BODEGA </strong>
                <%= @device.bodega %>
            </div>

            <div class="mt-2">
                <strong> LOCAL </strong>
                <%= @device.local %>
            </div>

            <div class="mt-2">
                <strong> FACTOR </strong>
                <%= @device.factor %>
            </div>

            <div>
                <%= link_to "Nueva Lectura", new_lectura_path, class: "bg-gray-700 text-white rounded-md px-3 py-2 text-sm font-medium" %>
                <%= link_to "Editar", edit_device_path(@device.id), class: "bg-gray-700 text-white rounded-md px-3 py-2 text-sm font-medium" %>
            </div>
        </div> 
    </section>
<% end %>